<mat-toolbar>
    
    <button
    routerLink="/"
    matTooltip="Home"
    mat-icon-button
    aria-label="Home icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>
    
    <button
    routerLink="/portfolio"
    matTooltip="Portfolio"
    mat-button
    aria-label="Portfolio button">
        Portfolio
    </button>

    <button
    routerLink="/favorites"
    matTooltip="Favorite books and courses"
    mat-icon-button
    aria-label="Favorite icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    
    <span class="spacer"></span>

    <button
    routerLink="/contact"
    matTooltip="Contact me"
    mat-icon-button
    aria-label="Contact page icon-button with contact_page icon">
      <mat-icon>contact_page</mat-icon>
    </button>

    <!-- Awaiting User handling
    <button
    routerLink="/account"
    matTooltip="Account"
    mat-icon-button
    aria-label="Account icon-button with account icon">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button
    routerLink="/login"
    matTooltip="Login"
    mat-icon-button
    aria-label="Login icon-button with login icon">
      <mat-icon>login</mat-icon>
    </button>

    <button
    routerLink="/logout"
    matTooltip="Logout"
    mat-icon-button
    aria-label="Logout icon-button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>-->

</mat-toolbar>