<ul class="portfolio-cards">
    <div class="filters-bar">
        <mat-chip-listbox multiple aria-label="Filter selection">
            <span>Filter by tag/status:</span>
            <mat-chip-option
            *ngFor="let filter of availableFilters" 
            (click)="toggleFilter(filter)" 
            [selected]="filterIsSelected(filter)"
            color="accent" 
            >
            {{filter}}
            </mat-chip-option>
          </mat-chip-listbox>
        
    </div>
    <div *ngFor="let project of this.projects">
        <project-card  [project]="project"></project-card>
    </div>
</ul>
